* {
  color: white;
  margin: 0;
  background-color: rgb(153, 153, 153);
}

.parent-container {
  height: 100vh;
  display: flex;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: min-content;
  margin: auto;
  background: linear-gradient(rgb(78, 78, 78), rgb(94, 91, 91));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px black;
}

.output-field {
  background-color: rgb(97, 97, 97);
  width: 40vh;
  height: 10vh;
  margin: auto;
  font-size: 54px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.output-field > p {
  background-color: transparent;
  margin: auto;
}

.calculator-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: linear-gradient(rgb(78, 78, 78), rgb(94, 91, 91));
  margin: auto;
  width: 40vh;
  padding: 5px;
  gap: 5px;
}

.calculator-buttons-container > button {
  font-size: 30px;
  height: 10vh;
  background-color: rgb(12, 12, 12);
  border-radius: 10px;
}
.calculator-buttons-container > button:hover {
  background-color: rgb(53, 53, 53);
}

#AC {
  grid-column: 1 / span 2;
}